body{
  background-color: rgb(72, 190, 240);
  padding: 0px 400px;
  width: 0;
}

.container{
  text-align: center;
  width: 400px;
  height: 550px;
  border-radius: 15px;
  border-top: 20px solid #fff;
  border-bottom: 20px solid #fff;
  background: rgb(33, 224, 218);
  align-items: center;
}

.box h4{
  color: #fff;
  font-size: 40px;
  font-family: sans-serif;
}

.box h5{
  color: #fff;
  font-size: 20px;
  margin-top: -25px;
  font-family: sans-serif;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.box input[type="text"],
.box input[type="email"]{
  align-items: center;
  width: 300px;
  border-radius: 5px;
  margin: 15px auto;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 10px;
  display: block;
  padding: 12px 20px;
  outline: 30;
 }

 .btn{
  cursor: pointer;
  border-radius: 5px;
  color: black;
  padding: 10px 50px;
 }